body {
	background-color:indigo;
    color: honeydew;
}

section {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

a {
	color: skyblue;
}

h1 {
    margin: 0.67em 0;
	color: LightCyan;
}

img {
    border: 0;
    width: 80%;
    height: auto;
}

hr {
    box-sizing: content-box;
    height: 2px;
}

.game {
    width: 256px;
    height: 256px;
    border: 1px solid fuchsia;
}

.program {
    width: 25%;
    margin: 10px;
}

#game {
    border: 1px solid blue;
}

#programs {
    border: 1px solid red;
}